*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://zukuenfte-ki.de/wp-content/uploads/2019/05/cropped-background_img.png");
}

   
    h1{
    border-style: double;
    border-color: rgb(109, 223, 243);
    border-radius: 5px;
    border-width: 25px;
    padding: 10px;
    color: rgb(109, 223, 243);
    font-family:'Calibri';
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    } 

    h2 {
    border-top-style: solid;
    border-color: rgb(109, 223, 243);
    border-radius: 15%;
    border-width: 20px;
    color: rgb(109, 223, 243);
    background-color: black;
    width: 30%;
    padding: 10px;
    font-family:'Calibri';
    }

.container {
    padding: 40px 5%;
}

section {
    margin: 0;
}

section > p {
    background-color:rgb(109, 223, 243);
    border-left-style: double;
    border-width: 20px;
    border-color: black;
    color: black;
    font-size: larger;
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
    font-family:'Calibri';
    margin-left: 10%;
    margin-right: 10%;
}
ul {
    background-color:rgb(109, 223, 243);
}

.reference {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.cite {
    padding-left: 50px;
    padding-right: 10px;
    border-left: 5px solid darkgrey;
    background-color: white;
    text-align: justify;
}
