*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(242, 244, 245);
}

h1, h2 {
    background: #3c7aec;
    padding: 20px 30px;
    margin: 0;
    color: rgb(250, 250, 250);
}

.container {
    padding: 40px 5%;
}

section {
    margin: 0;
}

section > p {
    background-color: rgb(225, 235, 248);
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
}

.reference {
    font-weight: bold;
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.cite {
    background-color: rgb(225, 235, 248);
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
}
