*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

h1, h2 {
    background: #87ebce;
    padding: 20px 30px;
    margin: 0;
}

.container {
    padding: 40px 5%;
}

section {
    margin: 0;
}

section > p {
    background-color: rgb(76, 43, 177);
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
}

.reference {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.cite {
    padding-left: 50px;
    padding-right: 10px;
    border-left: 5px solid darkgrey;
    background-color: white;
    text-align: justify;
}
