*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(203, 156, 0, 0.339);
}

h1 {
    background: #003084dd;
    padding: 20px 30px;
    border: dotted 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: -10px 10px 15px rgba(83, 63, 1, 0.527);

}
h2 {
    background: #012c9882;
    padding: 15px 22px;
    margin: 1%;
    border: dotted 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: -6px 4px 10px rgba(83, 63, 1, 0.527);
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    padding: 40px 5%;
}

section {
    margin: 0;
}

section > p {
    background-color: rgba(255, 255, 255, 0.692);
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
}

.reference {
    font-weight: bold;
    text-decoration: none;
    color: rgb(159, 119, 1);
}

.cite {
    padding-left: 50px;
    padding-right: 10px;
    border-left: 5px solid rgb(255, 255, 255, 0.692);
    border-right: 5px solid rgb(255, 255, 255, 0.692);
    background-color: rgba(187, 212, 177, 0.116);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {float: right;
display: inline;
margin: 20px;
border: 20px}

ul{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


