*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    background-color: rgb(240, 255, 255);
}

h1, h2 {
    background: rgb(255,248,220);
    padding: 20px 30px;
    margin: 0;
}

.container {
    padding: 40px 5%;
}

section {
    margin: 0;
}

section > p {
    background-color: rgb(95, 158, 160);
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
}

.reference {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.cite {
    padding-left: 50px;
    padding-right: 10px;
    border-left: 5px solid rgb(240, 255, 255);
    background-color: white;
    text-align: justify;
}
