*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(149, 146, 146);;
}

h1 {
    background:#6a686c;
    padding: 20px 30px;
    margin: 0;
}

h1 {
    font-family: "Calibri", Times, sans-serif;
    font-weight: 900;
    color:rgb(128, 164, 192)
}

h2 {
    color: rgb(128, 164, 192);
    font-family: "Calibri", Times, sans-serif;
}


.container {
    padding: 40px 5%;
}

section {
    margin: 0;
}

section > p {
    background-color: rgb(196, 203, 199);
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
}

.reference {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.cite {
    padding-left: 50px;
    padding-right: 10px;
    border-left: 5px solid darkgrey;
    background-color: rgb(149, 146, 146);
    text-align: justify;
}
