*, *::before, *::after {
    box-sizing: border-box;
}





body {
    margin: 0;
    padding: 0;
    background-color: rgb(254, 254, 254);
}

h1, h2 {
    background: linear-gradient(to bottom,rgb(169, 239, 158),rgb(100, 209, 249));
    padding: 20px 30px;
    margin: 0;
    color: rgb(244, 248, 250);
}

.container {
    padding: 40px 5%;
}

section {
    margin: 0;
}

section > p {
    background-color: rgb(188, 245, 202);
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
}

.reference {
    font-weight: bold;
    text-decoration: none;
    color: rgb(181, 63, 224);
}

.cite {
    background-color: rgb(188, 245, 202);
    padding: 20px 10px;
    margin: 0;
    text-align: justify;
}
